

<div id="container" class="cf">
  <h1>PLAYGROUND</h1>
  <p> This is a convenient way to use a few Ruby Gems. Just choose an area of interest and type in a stock symbol, movie title or image tag and Playground will return some useful, albeit concise, information. Enjoy.</p>
  
 

