<!doctype html>
<html lang="en">
<head>
    	<meta charset="utf-8">
  

		<title>Playground</title>
		
		<!-- external CSS link -->
		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="style.css">
</head>

  <body>

     <nav class="nav">
	  	
	  	<a href="/">HOME</a>
	  	<a href="/stock">STOCKS</a>
	  	<a href="/movie">MOVIES</a>
	  	<a href="/image">IMAGES</a>
 	
    </nav>

    <div id="container" class="cf">
			<%= yield %>

		    
	     
	    
	    
	    
    </div> 


  </body> 

</html> 