
<h1>MOVIES</h1>

<p>Enter Movie title and Playground will return the director, year and rating.</p>

<form action="/m_result" method="get">
	<label>MOVIE TITLE</label>
	<input type"text" name="film_name">
  <button>Find</button>
</form>
