
<div id="container" class="cf">
   <h1>STOCKS</h1>

    <p>Enter the stock symbol to receive stock price and stock index.</p>

	  <form action="/s_result" method="get">
			<label>STOCK SYMBOL</label>
			<input type"text" name="stock_sym">
	    <button>Find</button>
    </form>
    
